############
## Server Config Profile "default"
##

profile_name = Default
tracked_players_on_minimap = false
tracked_players_in_world = false
entity_radar_categories = This option's value is saved to sub-folder "entity_radar_categories".
